.body{
    background-color: whitesmoke;
}
/*titulos del inicio*/
.titulo1{
    font-weight: bold;
    text-align: center;
    color: black;
    margin-top: 0em;
    margin-bottom: 0em;
    font-size: 500%;    
}

.titulo2{
    text-align: center;
    color: black;
    margin-top: 1em;
    margin-bottom: 1em;
}
.subtitle{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.ContenedorTitulos{
    background-image: url(../imagenes/ImagenMenu.jpg);
  
}

.contenedor{
    border-radius: 1em;
    border: #000 1px solid;
margin-top: 10px;
}

.texto{
    padding-top: 2em;
    margin: 10px;
        animation-delay: 2s;
}



.margenes{
    border-radius: 1em;
    padding-right: 3em;
    padding-left: 3em;
}

.izq{
    float: right;
}